<h2>Create a list!</h2>

<form action="/list" method="post">
  <h3>List Name:</h3>
  <input type="text" name="name" >
  <h4>Input Tasks:</h4>
  <input type="text" name="task[name][]" > <br>
  <input type="text" name="task[name][]" > <br>
  <input type="text" name="task[name][]" > <br>
  <input type="text" name="task[name][]" > <br>
  <input type="text" name="task[name][]" > <br>
  <input type="text" name="task[name][]" > <br>
  <input type="text" name="task[name][]" > <br>
  <input type="text" name="task[name][]" > <br>
  <input type="text" name="task[name][]" > <br>

  <input type="submit" value="Create List" >
</form>
