<h2><%= @user.username %></h2>
<a href="/create_list">Create New List</a> <br>

<h4>View or Edit Existing List</h4>
<% @user.lists.each do |list| %>
  <div>
    <a href="/lists/<%=list.id%>"><%= list.name %></a>
    <form style="width:300px; display:inline-block;" action="/lists/<%=list.id%>/delete" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="button" value="delete">
    </form>

  </div>
<% end %>
<br>
<a href="/logout">LOGOUT</a>
